
<!--<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="2">-->
<section>
  <div class="intro" style="float: left;">
    <h1 class="pull-left" >Welcome to Laxminarsimha Maringanti Recipe Book.
      
      </h1></div>
      <div style="float: right;">
        <img style="width: 300px; align-items: center;" 
        src="https://media-exp3.licdn.com/dms/image/C5603AQG2ieDs_JE0BQ/profile-displayphoto-shrink_400_400/0/1605701566148?e=1630540800&v=beta&t=f0yXFN5Gbup4cuJcm85iRJSAkyHVJusdhP49qVFrU1w">
      </div>
      <div style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size:40px; font-weight: bold; color:  blue;">
    I am a Solution architecture and passionate to develop applications in Microsoft technolgies.
    <br/>
    I focus on Microsoft Development technology like C# , MVC ,
    Design patterns , Angular , SQL Server , Azure, AWS, Docker, Chatbots and microservices
     in the most simplified way. 
    
  </div>
</section><!-- End Home Section -->

