
<!--<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="2">-->
<section id="home">
  <div class="intro">
    <h1 class="pull-left" style="font-size: xx-large; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: blueviolet;" >Welcome to my Cook Book - 
      <span style="color:cornflowerblue;">
       Laxminarsimha Marinagnti</span></h1>
  </div>
</section><!-- End Home Section -->

