<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Cook Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/recipes-Healthy">Healthy</a></li>
        <li routerLinkActive="active"><a routerLink="/recipes-Mexican">Mexican & Continental cooking</a></li>
        <li routerLinkActive="active"><a routerLink="/recipes-Indian">Indian</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         
          <li><a>Laxminarsimha Maringanti</a></li>
          <li><a routerLink="/aboutme">About Me</a></li>
        

      </ul>
    </div>
  </div>
</nav>
