
html {height: 100%; font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%} /* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
body {margin: 0; min-height: 100%; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; text-rendering:optimizeLegibility;color: #666} /* Improve default text rendering, handling of kerning pairs and ligatures */

h1, h2, h3, h4, h5, h6 {font-family:'Open Sans', sans-serif;color:#444;}
h1 {
  font-size: 3.75em; line-height: 1.2em;
  margin: 0 0 0.4em;
} /* 60px / 72px */
h2 {
  font-size: 3em; line-height: 1em;
  margin: 0 0 0.5em;
} /* 48px / 48px */
h3 {
  font-size: 2.25em; line-height: 1.4em;
  margin: 0 0 0.7em;
} /* 36px / 48px */
h4 {
  font-size: 1.5em; line-height: 1em;
  margin: 0 0 1em;
} /* 24px / 24px */
h5 {
  font-size: 1.3em; line-height: 1.15em;
  margin: 0 0 1.15em;
} /* 21px / 24px */
h6 {
  font-size: 1.2em; line-height: 1.4em;
  margin: 0 0 1.4em;
} /* 18px / 24px */
p, ul, blockquote, pre, td, th, label {
  font-size: 1em; line-height: 1.5em;
  margin: 0 0 1.5em;
} /* 16px / 24px */
small, p.small {
  font-size: 0.9em; line-height: 1.7em;
  margin: 0 0 1.7em;
} /* 14px / 24px */


/* FORMS */
form {margin: 0}
fieldset {border: 0;padding: 0}
textarea {overflow: auto; vertical-align: top}
legend {*margin-left: -.75em}
button, input, select, textarea {vertical-align: baseline; *vertical-align: middle} /* IE7 and older */
button, input {line-height: normal; *overflow: visible}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box}
input[type="search"] {-webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0}

a {
  text-decoration: none;
  color: #E74C3C;
  -webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}


h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  margin:0;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

body {
  width: 100%;
  height: 10px;
  padding: 20px;
  background: #f6ff31 url("https://blog.storyblocks.com/wp-content/uploads/2017/08/blurred-background-sample.png");
  border: 20px solid rgba(255, 168, 244, 0.3);
  background-size: contain;
}


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#tt-preloader {
  background: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#pre-status,
.preload-placeholder {
  /* background: url(assets/images/preloader.gif) no-repeat center; */
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

.preload-placeholder {
  background: none;
  left: 0;
  margin: 0;
  text-align: center;
  top: 65%;
}




